/* Global */
:root {
    --primary-rgb: 102, 255, 255;
    --secondary-rgb: 0, 153, 255;
    --text-rgb: 255, 255, 255;
    --body-rgb: 0, 0, 0;
    --body-secondary-rgb: 29, 29, 29;
}

@font-face {
    font-family: Ultra;
    src: url('../fonts/ultra.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Star Renegades';
    src: url('../fonts/star-renegades.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Star Renegades';
    src: url('../fonts/star-renegades-italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Time Burner';
    src: url('../fonts/time-burner.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Time Burner';
    src: url('../fonts/time-burner-bold.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Venite Adoremus';
    src: url('../fonts/venite-adoremus.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Orbitron;
    src: url('../fonts/orbitron.ttf');
    font-weight: normal;
    font-style: normal;
}

html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}

body {
    margin: 0px;
    background-color: rgb(var(--body-secondary-rgb));
    color: rgb(var(--text-rgb));
}

/* Navbar */
@keyframes navbar-to-down {
    from { top: -5rem; }
    to { top: 0rem; }
}

@keyframes navbar-lighting {
    from { left: -50%; }
    to { left: 100%; }
}

#navbar {
    position: relative;
    background-color: rgb(var(--body-rgb));
    animation-name: navbar-to-down;
    animation-duration: 2.5s;
}

.navbar-body {
    display: flex;
    align-items: center;
}


#navbar .navbar-body img {
    padding: 0.75rem;
    width: 4rem;
}

#navbar .navbar-body a {
    color: rgb(var(--text-rgb));
    text-decoration: none;
    font-family: Ultra;
    font-size: xx-large;
    margin-left: 0.75rem;
    padding-bottom: 0.6rem;
    text-shadow: 
        0px 0px 10px rgb(var(--primary-rgb)),
        0px 0px 20px rgb(var(--primary-rgb)),
        0px 0px 20px #fff;
}

#navbar .navbar-lighting {
    position: absolute;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 0px 10px #fff;
}

#navbar .navbar-lighting::after {
    position: relative;
    content: "";
    display: block;
    width: 10%;
    border: 0.2rem solid rgb(var(--primary-rgb));
    animation-name: navbar-lighting;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    box-shadow: 
        0px 0px 10px rgb(var(--primary-rgb)),
        0px 0px 20px rgb(var(--primary-rgb)),
        -15px 0px 10px rgb(var(--primary-rgb)),
        -30px 0px 15px rgb(var(--primary-rgb)),
        -45px 0px 20px rgb(var(--primary-rgb));
}

/* Section Global */
section {
    margin-block: 1rem;
}

section .content h1 {
    font-family: 'Star Renegades';
    text-decoration: underline;
    text-underline-offset: 0.5rem;
    line-height: 2.5rem;
}

section .content p {
    font-family: 'Time Burner';
}

section div {
    padding: 1rem;
}

/* Section 0 */
@keyframes section-0-content {
    from {
        scale: 0%;
        opacity: 0;
    }
    to {
        scale: 100%;
        opacity: 1;
    }
}

#section-0 {
    display: flex;
    justify-content: center;
}

#section-0 .content {
    text-align: center;
    margin-bottom: 2rem;
    animation: section-0-content 2s;
}

#section-0 .content h1 {
    text-decoration: none;
}

#section-0 .content p {
    margin-block: 0rem;
    font-family: 'Orbitron';
    letter-spacing: 0.05em;
}

#section-0 .content button {
    border: 0.25rem solid rgb(var(--primary-rgb));
    border-radius: 0.5rem;
    background-color: transparent;
    color: #fff;
    font-family: 'Orbitron';
    font-size: larger;
    padding: 1rem;
    margin-block: 3rem;
}

#section-0 .content button:hover {
    box-shadow: 0px 0px 10px rgb(var(--primary-rgb));
    text-shadow: 0px 0px 10px #fff;
}

/* Section 1 */
@keyframes section-1-content {
    from { left: -20rem; }
    to { left: 0rem; }
}

@keyframes section-1-image {
    from { left: 20rem; }
    to { left: 0rem; }
}

#section-1 {
    display: grid;
    grid-template-columns: 50% 50%;
}

#section-1 .content {
    position: relative;
    animation-name: section-1-content;
    animation-duration: 2s;
}

#section-1 .content p {
    text-align: justify;
}

#section-1 .image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: section-1-image;
    animation-duration: 2s;
}

#section-1 .image img {
    width: 90%;
    border-radius: 10%;
}

#section-1 .image img:hover {
    border: 0.2rem solid rgb(var(--primary-rgb));
    box-shadow: 0px 0px 10px rgb(var(--primary-rgb));
}

/* Section 2 */
@keyframes section-2-content {
    from { left: -50rem; }
    to { left: 0rem; }
}

#section-2 {
    display: grid;
    grid-template-columns: 100%;
}

#section-2 .content {
    position: relative;
    animation-name: section-2-content;
    animation-duration: 4s;
}

#section-2 .content ul {
    list-style: none;
    padding: 0%;
}

#section-2 .content ul li {
    border: 0.2rem solid rgb(var(--primary-rgb));
    border-radius: 0.5rem;
    margin-block: 0.75rem;
    padding: 0.75rem;
}

#section-2 .content ul li:hover {
    box-shadow: 0px 0px 10px rgb(var(--primary-rgb));
}

#section-2 .content ul li p {
    margin: 0%;
}

/* Section 3 */
@keyframes section-3-card-container-card {
    from {
        scale: 0%;
        opacity: 0;
    }
    to {
        scale: 100%;
        opacity: 1;
    }
}

@keyframes section-3-content {
    from { left: -20rem; }
    to { left: 0rem; }
}

#section-3 {
    display: grid;
    grid-template-rows: auto auto;
}

#section-3 .content {
    position: relative;
    animation-name: section-3-content;
    animation-duration: 4.5s;
}

#section-3 .card-container {
    display: grid;
    grid-template-columns: 80%;
    column-gap: 1rem;
    justify-content: center;
}

#section-3 .card-container .card {
    display: none;
    position: relative;
    margin-block: 0.5rem;
    border: 0.2rem solid rgb(var(--primary-rgb));
    border-radius: 0.75rem;
    cursor: pointer;
    animation-name: section-3-card-container-card;
    animation-duration: 3.5s;
    animation-fill-mode: forwards;
}


#section-3 .card-container .card:hover {
    box-shadow: 0px 0px 10px rgb(var(--primary-rgb));
}

#section-3 .card-container .card.active {
    display: block;
}

#section-3 .card-container .card h3 {
    font-family: 'Venite Adoremus';
    text-align: center;
    margin: 0%;
}

#section-3 .card-container .card ul {
    padding-inline-start: 20px;
    margin: 0%;
}

#section-3 .card-container .card ul li p {
    font-family: 'Time Burner';
}

#section-3 .card-navbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#section-3 .card-navbar span {
    font-family: 'Star Renegades';
    font-size: 1.75rem;
}

#section-3 .card-navbar img {
    cursor: pointer;
    height: 2.5rem;
    padding: 0.7rem;
    margin-inline: 2rem;
    border-radius: 100%;
    margin-inline: 1.25rem;
}

#section-3 .card-navbar img:hover {
    box-shadow: 0px 0px 10px rgb(var(--primary-rgb));
}

#section-3 .card-navbar img:first-child {
    rotate: 180deg;
}

/* Section 4 */
@keyframes section-4-content {
    from { left: -40rem; }
    to { left: 0rem; }
}

#section-4 {
    display: grid;
    grid-template-columns: 100%;
}

#section-4 .content {
    position: relative;
    animation-name: section-4-content;
    animation-duration: 5.5s;
}

#section-4 .content ul {
    list-style: none;
    padding: 0%;
}

#section-4 .content ul li {
    border: 0.2rem solid rgb(var(--primary-rgb));
    border-radius: 1rem;
    padding: 0.75rem;
    margin-block: 0.75rem;
}

#section-4 .content ul li:hover {
    box-shadow: 0px 0px 10px rgb(var(--primary-rgb));
}

#section-4 .content ul li .description {
    display: none;
}


#section-4 .content ul li .description.active {
    display: block;
}

#section-4 .content ul li .title,
#section-4 .content ul li .description {
    padding: 0.25rem;
}

#section-4 .content ul li .title h3,
#section-4 .content ul li .description p {
    margin-block: 0.15rem;
}

#section-4 .content ul li .title h3 {
    font-family: "Venite Adoremus";
}

/* Section 5 */
@keyframes section-5-content {
    from { left: -20rem; }
    to { left: 0rem; }
}

@keyframes section-5-image {
    from { left: 20rem; }
    to { left: 0rem; }
}

#section-5 {
    display: grid;
    grid-template-columns: 50% 50%;
}

#section-5 .content {
    position: relative;
    animation-name: section-5-content;
    animation-duration: 2s;
}

#section-5 .content p {
    text-align: justify;
}

#section-5 .image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: section-5-image;
    animation-duration: 2s;
}

#section-5 .image img {
    width: 90%;
    border-radius: 10%;
}

#section-5 .image img:hover {
    border: 0.2rem solid rgb(var(--primary-rgb));
    box-shadow: 0px 0px 10px rgb(var(--primary-rgb));
}

/* Media Queries */
@media screen and (min-width: 1024px) {
    #section-3 .card-container {
        column-gap: 4rem;
    }
}

@media screen and (max-width: 425px) {
    #section-1 {
        grid-template-columns: 100%;
    }

    #section-3 .card-container {
        grid-template-columns: 100%;
    }

    #section-5 {
        grid-template-columns: 100%;
    }
}